<!--creative states-->
<div class="creative-state-area basic-gradient">
    <div class="row">
        <div class="col-lg-7 col-12">
            <h4 class="creative-state-title">Dashboard</h4>
        </div>
        <div class="col-lg-5  col-12 text-lg-right">
            <div class="row short-states mb-lg-0 mb-4">
                <div class="col-6">
                    <span class="pr-2">unique visitors</span>
                    <span id="unique_visitors"></span>
                </div>
                <div class="col-6">
                    <span class="pr-2">total visitors</span>
                    <span id="total_visitors"></span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card card-shadow mb-4">
                <div class="card-body">
                    <div class="media d-flex align-items-center">
                        <div class="mr-4 rounded-circle bg-warning sr-icon-box bubble-shadow-small">
                            <i class="vl_user-male"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="text-uppercase mb-0 weight500 text-dark">4,87,654</h4>
                            <span class="text-muted">Visit</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card card-shadow mb-4">
                <div class="card-body">
                    <div class="media d-flex align-items-center">
                        <div class="mr-4 rounded-circle bg-purple sr-icon-box bubble-shadow-small">
                            <i class="vl_download"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="text-uppercase mb-0 weight500 text-dark">4,87,654</h4>
                            <span class="text-muted">Downloads</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card card-shadow mb-4">
                <div class="card-body">
                    <div class="media d-flex align-items-center">
                        <div class="mr-4 rounded-circle bg-danger sr-icon-box bubble-shadow-small">
                            <i class="vl_shopping-bag2"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="text-uppercase mb-0 weight500 text-dark">4,87,654</h4>
                            <span class="text-muted">Active Installation</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card card-shadow mb-4">
                <div class="card-body">
                    <div class="media d-flex align-items-center">
                        <div class="mr-4 rounded-circle bg-purple-light sr-icon-box bubble-shadow-small">
                            <i class="vl_cart-empty"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="text-uppercase mb-0 weight500 text-dark">4,87,654</h4>
                            <span class="text-muted">Product Sales</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/creative states-->

<h2>Organizations</h2>
<ul>
	<% @organizations.each do |org| %>
	<li><%= link_to org.title, org %></li>
	<% end %>
</ul>
<h2>Projects</h2>
<ul>
	<% @projects.each do |proj| %>
	<li><%= link_to proj.title, proj %></li>
	<% end %>
</ul>
<h2>Ideas</h2>
<ul>
	<% @ideas.each do |proj| %>
	<li><%= link_to proj.title, proj %></li>
	<% end %>
</ul>
<p><%= link_to 'users', 'users' %></p>